
                        
                   <ul>
                       <li><a href="/index.html">Home</a></li>
                       <li><a href="safeguarding-adults.html">Safeguarding adults</a>
                             <ul>
                           <li><a href="/whatsadultsafeguarding.html">What is safeguarding adults</a></li>
                       </ul>
                       </li>
                           <li><a href="#">Generators</a>
                             <ul>
                           <li><a href="/generators/webchat.html">Web Chat</a></li>
                       </ul>
                       </li>
                   </ul>
                          
