//default sharpoint css - REMOVE BEFORE UPLOADING

//google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Open+Sans:400,700'); 

// available variables to change the brand colours as required
// masterhead.scss

//$head-background: #ffffff;

//mainMenu.scss -- responsive icons color
//$menu-link-color:#337ab7;

//base.scss

//base colours
$blue:#007299;
$dark-blue: #003F55;
$light-blue: #3399BB;
$pale-blue: #b3d9e6;
$green:#1E824C;
$light-green:#009A00;
$black:#212224;
$light-black:#3D414A;
$dark-grey:#666B76;
$grey:#9DA5B2;
$light-grey:#DCDEE1;
$lighter-grey:#F6F7FA;
$white:#FFFFFF;
$yellow:#FFBF47;
$dark-yellow:#FAA300;
$red:#c0392b;

//$base-background-color:#fff;
$base-font-size:16px;
$base-font-color:$black;
$header-font-color:$black;
$base-link-color:$blue;
$base-link-hover-color:$light-blue;
$base-link-visited-color:#4C2C92;
$secondary-link-color:$dark-blue;
$secondary-font-color:$dark-grey;
$border-color:$light-grey;
$brand-color:$green;
$button-color:$green;
$button-hover-color:lighten($button-color,5%);
$focus-color:$yellow;
$base-container-width:1280px ;
//$btn-background-color:green ;
$font-primary:'Open Sans', sans-serif; // main font
$font-secondary:'Montserrat', sans-serif; // secondary font used for headings
//$header-font-weight: 600;
$alert-color:$red;

//panel colours
$panel-color:#E5F1F5;
$panel-color-secondary:#DCDEE1;

//global used on all partials to get a uniform spacing between elements
//$base-margin-bottom:1.875em ;

//headerTop
//$search-link-background:#F3F3F4 ;
//$search-link:#333 ;

// mainNav.scss
$main-nav-background:darken( $brand-color, 3% );
//$main-nav-link:#fff ;

//footer.scss
//$footer-font-color:#fff ;
//$footer-nav-selected-link:#133E8D ;

//sectionSubsite.scss - socialamedia.scss
//$section-Background:#efefef ;

//socialamedia.scss
//$social-link-color:#337ab7 ;

//sideNavigation.scss
//$side-nav-active-background:#133E8D ;

//carousel.scss
//$carousel-active-background:#000 ;
//$carousel-indicators-active-background:#ccc ;
//$carousel-caption-background: rgba(0,0,0,0.6) ;
//$carousel-caption-font-color:#fff ;


//blocklinks.scss

//$block-link-back:#f6f6f6 ;
//$block-link-back-hover:#3380A4 ;
//$promo-group-border:1px solid #fff ; 
//$promo-group-background:#EDF2F5 ; 
//$promo-group-li-background:#EDF2F5 ;
//$promo-group-link-color:#216486 ;

//promolist webpart
//$link-font-color:#fff;
//$span-info-color:#133E8D;
//$span-info-hover:#131A22;
//$span-info-secondary-color:#fff;
//$span-arrow-base:darken($span-info-color, 10%);
//$span-third-info-base:#f6f6f6;
//$third-info-font-color:#333;
//$arrow-color:#fff;
//$contentFontColor:#333;
//$content-arrow-color:#133E8D;
//$content-border-color:#ddd;

//section backgrounds
$sectionHeader-background-color:$brand-color;
$sectionOne-background-color:#fff;
$sectionTwo-background-color:#fff;
$sectionThree-background-color:#fff;
$sectionFour-background-color:#fff;
$sectionFive-background-color:#fff;

//iconlinks
//$iconLinkIconColor:#FFC82E;

//heroBanner
//$heroFontBackground:rgba(0, 0, 0, 0.5); 
//$heroFontcolor:#fff; 

//news
//$news-button-background: #3498DB ;
$news-pod-back:#ffffff ;
$news-pod-border-color:#ddd;

//accordion
//$accordion-color:green;
//$accordion-border-color:#ECF0F1;

//Block quote
// $blockquoteBorderColor:#bbcada ;
// $blockquoteQuoteColor:#333;
// $blockquoteQuoteFooterColor:#000;

//highlighted box in content assets
//$highlighted-background-color:#333 !default;
//$highlighted-font-color:#fff !default;
//$highlighted-alt-background-color:#f6f6f6 !default;
//$highlighted-alt-font-color:#333 !default;

//mega-promo
$promo-background-color:$lighter-grey;
$promo-arrow-color:#9DA5B2;
$promo-header-color:$blue;
$promo-secondary-color:$black;
$promo-highlight-background-color:$dark-blue;
$promo-highlight-color:$white;

//button colours
$primary-button-background-color:$green;
$primary-button-color:$white;
$secondary-button-background-color:$blue;
$secondary-button-color:$white;
$outline-button-border-color:$blue;
$outline-button-color:$blue;

//group promo colours
$group-promo-background-color: $lighter-grey;
$group-promo-header-color: $blue;
$group-promo-description-color: $black;
$group-promo-arrow-color: $grey;

//form colours
$input-color:$black;
$input-border-color:$grey;


@import 'base';

@import '2010-typography-overrides';
@import 'accordion';
@import 'a-to-z';
@import 'block-links';
@import 'block-quote';
@import 'brand-colors';
@import 'carousel';
@import 'content-link'; //subsite only
@import 'description-list';
@import 'doc-list'; //needs aligning with lcc_doc-list and a.doc within typography - DH
@import 'events-search-results';
@import 'events-webparts';
@import 'group-promo';
@import 'hero-banner';
@import 'hero-banner-overlay'; //needs aligning with hero-bnner - RM
@import 'icon-links';
@import 'mega-promo';
@import 'news';
@import 'open-data'; //is it leeds.gov.uk specific? - does it need re-naming- DH
@import 'journey-page';
@import 'phase-banner'; //work needed to have in page beta banner
@import 'polaroids'; //subsite only
@import 'promo';
@import 'promo-list-webpart'; //subsite only
@import 'section-subsite'; //subsite only
@import 'sharepoint-overrides'; 
@import 'side-nav'; //needs aligning with side-navigation - DH & RM
//@import 'side-navigation'; //needs aligning with side-nav - DH & RM
//@import 'survey-webpart'; //is it leeds.gov specific? Relys on where-i-live which should be in the fet but renamed to search-panel - DH
@import 'url-helper';
@import 'webchat';

//CUSTOM STYLES FOR LEEDS.GOV.UK

//site background
html{
    background-color:$green;
}


//header
.logo {
    background: url(../images/insiteLogo.svg) center center no-repeat;
    background-size:100%;
    height:60px;
    width:150px;
    margin:2px 0 0 0;
   span{
       display: none;
   }
}

a.promo{
    img{
        width:100%;
    }
    margin-bottom:30px;
    display:inline-block;
}

.col-md-8 .groupPromo ul li {
    width: calc(100% * (1/4) - 6px) !important;

    @media (max-width:768px){
        width: calc(100%) !important;
    }
}


.groupPromo {

    margin-bottom:30px;
      h2{
        margin:0px 0 15px 0;
    }

    ul li a 
    {
        padding:15px;

        h3{
            font-size:16px;
            line-height:22px;
            min-height:100px;
        }
    }
    
    &.blockback{
          padding:15px;
          h2{
              margin:0 0 10px 0;
              color:#fff;
          }
    }
  
    &.blockLinksGreen .listWebpart {
        @include groupPromo(#76b15e, #002A15, #002A15,#fff);
    }

        &.blockLinksGreen.blockback {background:darken(#76b15e, 10%) ;
        }

        &.blockLinksPurple.blockback{background:darken(#5f215c, 10%) ;
        }
   

         &.blockLinksPink.blockback{background:darken(#B10042, 10%) ;
         }
  
    
}

.cycle {

    &.orange {
        background: #CE5400;
    }

    &.purple{
        background:#371E35;
    }

    &.gold{
        background:#c2a041;
    }

    background:darken(#333,10%);
    margin-bottom: 20px;
    display: block;
    clear: both;
    color:#fff;
    padding:20px 20px 15px 20px;

    h2{
        margin:0px 0 15px 0;
        color:#fff;
    }

    &.jobs{
        padding:0px;
        background:transparent;

        h2{
            color:#424242;
        }

        li {
            background:#c2a041;
            min-height:200px;
        }
             a.arrow{
                background:darken(#c2a041,10%);
                padding:20px;

                &:hover{
                    background:darken(#c2a041,20%);
                }
            }
    }

    
     &.staffroom  h2
        {
            padding-left:50px;

            &:before{
            content:'\f123';    
            font-family: FontAwesome;
            font-size: 30px;
            font-weight:300;
            position:absolute;
            left:40px;
        }

        }

        
          &.business
          
{

    img{
        float:left;
        max-width:40%;
        margin-right:15px;
    }
          
            h2
        {
            padding-left:50px;

            &:before{
            content:'\f073';    
            font-family: FontAwesome;
            font-size: 30px;
            font-weight:300;
            position:absolute;
            left:40px;
        }
        }
}

    ul{
           background:#fff;
    }

    li{  
        background:#fff;
        width:100% !important;
        
        
        a{
            display:inline-block;
            width:100% !important;
            height:100%!important;
            padding:20px;
            text-decoration:none;
            font-size:16px;
            color:#333;
            h3{
            margin-top:0px;

     
        }

    
        }

        

     
    }

    a.arrow{
        background:transparent;
        color:#fff;
        padding:20px 5px;
        display:block;
        text-decoration:none;

        &:after{
            content:'\f0da';    
            font-family: FontAwesome;
            font-size: 20px;
            float:right;
        }
    }

           a:hover{
            background:#333;
            color:#fff;

            h3{
                color:#fff;
            }
        }
}


.column-thirds{ 
    
    margin-left:-15px;
    
    .column-third {
    padding-left: 15px;
    padding-right: 15px;
}
}




