{% extends "layout_multi_sections_home.html"%}

{% block page_title %}
	Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css"rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav.html"%}
 {% endblock %}



 {% block sectionOneTop %}

  
{% endblock %} 

{% block sectionOneFull%}
<hr class="ms-rteElement-spacer">
<a href="#"class="promo"><img src="/public/images/Northern Rail strikes planned 8, 10 and 12 January 2018.jpg"alt=""/></a>
<a href="#"class="promo"><img src="/public/images/Lunchtime chamber music concerts 940x100.jpg"alt=""/></a>
{% endblock %}

{% block sectionOneFullBottom %}{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}

{% endblock %}

{% block pageContent %}
<div class="groupPromo">
  <div class="listWebpart">
    <h2>Self service links</h2>
    <ul>
      <li class="">
        <a href="#"> <img src="http://insite.leeds.gov.uk/PublishingImages/Shiny%20green%20button.jpg">
          <h3>Login</h3>
        </a>
      </li>
      <li class="">
        <a href="#"> <img src="http://insite.leeds.gov.uk/PublishingImages/Shiny%20yellow%20button.jpg">
          <h3>FAQs</h3>
        </a>
      </li>
      <li class="">
        <a href="#"> <img src="http://insite.leeds.gov.uk/PublishingImages/Shiny%20blue%20button.jpg">
          <h3>Help and guidance notes</h3>
        </a>
      </li>
      <li class="">
        <a href="#"> <img src="http://insite.leeds.gov.uk/PublishingImages/Shiny%20red%20button.jpg">
          <h3>Forgotten your login details</h3>
        </a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>
{% endblock %}



{% block sectionOneRightHandColumn %}
  <div class="cycle gold jobs">
<div class="listWebpart">
 <h2>Internal Jobs</h2>
<ul>
<li>
<a href="https://jobs.leeds.gov.uk/libraries-communities-environment-library-officer/26010.job" target="_blank" ><h3>Library officer</h3>Grade : B1 - £16,491 to £17,772 (pro rata)<br><span>Closing date : 15 January 2018</span></a>
</li>
<li>
            
<a href="https://jobs.leeds.gov.uk/legal-services-resources-housing-senior-legal-officer-x3/25963.job" target="_blank"><h3>Senior legal officer x3</h3>Grade : SO2 - £28,485 to £30,153<br><span>Closing date : 11 January 2018</span></a>
</li>
</ul>
    <a class="arrow" href="/staffroom/Pages/Staff-deals.aspx?az=A%20to%20Z">Show business calendar</a>
    
</div>
  </div>
{% endblock %}

{% block sectionOneHalf %}<a href="#"class="promo"><img src="/public/images/Merrion House travel survey 460x250.jpg"alt=""/></a>
<div class="cycle orange staffroom equal-item">
<div class="listWebpart">
 <h2>Staff deals</h2>
<ul>
<li>
                <a href="/StaffRoom/Pages/Staff-deals-results.aspx?ItemID=586&amp;cat=Personal"target="_blank">
                    <h3>Stoneacre Properties</h3>

                        <p>
                          
Stoneacre Properties are a sales and letting business and they have the following offers available for LCC employees
Lettings
&nbsp;
Half price ..
                        </p>
                        <p>
                            Category : Personal
                            <br>
                            Expiry date : 31 December 20
                        </p>
</a>
</li>
<li>
            
                <a href="/StaffRoom/Pages/Staff-deals-results.aspx?ItemID=668&amp;cat=Health and wellbeing"target="_blank">
                    <h3>Laura Griggs sports massage - 20% discount</h3>

                        <p>
                           I'm offering 20% discount off all appointments for council staff (on production of a staff ID card).
I offer the following treatments:
30 ..
                        </p>
                        <p>
                            Category : Health and wellbeing
                            <br>
                            Expiry date : 31 December 19
                        </p>
</a>
</li>
</ul>
    <a class="arrow" href="/staffroom/Pages/Staff-deals.aspx?az=A%20to%20Z">All staff deals</a>
</div>
</div>
{% endblock %}
 {% block sectionOneHalfRight %}<a href="#"class="promo"><img src="/public/images/Apprenticeship Awards 2018 460x250.jpg"alt=""/></a>
   <div class="cycle purple business equal-item">
<div class="listWebpart">
 <h2>Business calendar</h2>
<ul>
<li>
<a href="/businesscalendar/pages/healthy-minds-group-january-2018-meeting-session-3.aspx" >
                        <img src="http://insite.leeds.gov.uk/PublishingImages/healthy%20minds%20banner%20335%20165.jpg" alt="">
                        <span> 
                            <div class="bold-title">Healthy Minds Group January 2018 meeting (session 3)</div>
                            <p>
                                23 Jan 2018 02:30 - 23 Jan 2018 04:00<br>
                                Civic Hall
                            </p>
                        </span>
                   </a>
</li>
<li>
            
                <a href="/StaffRoom/Pages/Staff-deals-results.aspx?ItemID=668&amp;cat=Health and wellbeing"target="_blank">
                    <h3>Laura Griggs sports massage - 20% discount</h3>

                        <p>
                           I'm offering 20% discount off all appointments for council staff (on production of a staff ID card).
I offer the following treatments:
30 ..
                        </p>
                        <p>
                            Category : Health and wellbeing
                            <br>
                            Expiry date : 31 December 19
                        </p>
</a>
</li>
</ul>
    <a class="arrow" href="/staffroom/Pages/Staff-deals.aspx?az=A%20to%20Z">Show business calendar</a>
    
</div>
  </div>
 {% endblock %}

{% block sectionOneThirdCol1 %}
<div class="groupPromo blockLinksGreen blockback">
  <div class="listWebpart">
    <h2>Top content</h2>
    <ul>
      <li class="">
        <a href="#"> <img src="http://insite.leeds.gov.uk/PublishingImages/Pal%20181x125.jpg">
          <h3>Pal</h3>
        </a>
      </li>
      <li class="">
        <a href="#"> <img src="http://insite.leeds.gov.uk/PublishingImages/Help%20181x125.jpg">
          <h3>Help employee assistance</h3>
        </a>
      </li>
      <li class="">
        <a href="#"> <img src="http://insite.leeds.gov.uk/PublishingImages/Terms%20and%20conditions%20181x125.jpg">
          <h3>Our Supporters</h3>
        </a>
      </li>
      <li class="">
        <a href="#"> <img src="http://insite.leeds.gov.uk/PublishingImages/Spending%20money%20wisely%20181x125.jpg">
          <h3>Spending money wisely</h3>
        </a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>


 {% endblock %}

 {% block sectionOneThirdCol2 %}
 <div class="groupPromo blockLinksPurple blockback">
  <div class="listWebpart">
    <h2>Manager do it online</h2>
    <ul>
      <li class="">
        <a href="#"> <img src="http://insite.leeds.gov.uk/PublishingImages/Pal%20181x125.jpg">
          <h3>New starter form</h3>
        </a>
      </li>
      <li class="">
        <a href="#"> <img src="http://insite.leeds.gov.uk/PublishingImages/Help%20181x125.jpg">
          <h3>Change an employees's position</h3>
        </a>
      </li>
      <li class="">
        <a href="#"> <img src="http://insite.leeds.gov.uk/PublishingImages/Terms%20and%20conditions%20181x125.jpg">
          <h3>Change of hours form</h3>
        </a>
      </li>
      <li class="">
        <a href="#"> <img src="http://insite.leeds.gov.uk/PublishingImages/Spending%20money%20wisely%20181x125.jpg">
          <h3>Leaver notification</h3>
        </a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>

 {% endblock %}

{% block sectionOneThirdCol3 %}
 <div class="groupPromo blockLinksPink blockback">
  <div class="listWebpart">
    <h2>Do it online</h2>
    <ul>
      <li class="">
        <a href="#"> <img src="http://insite.leeds.gov.uk/PublishingImages/Pal%20181x125.jpg">
          <h3>Annual leave calculator</h3>
        </a>
      </li>
      <li class="">
        <a href="#"> <img src="http://insite.leeds.gov.uk/PublishingImages/Help%20181x125.jpg">
          <h3>Eye test voucher</h3>
        </a>
      </li>
      <li class="">
        <a href="#"> <img src="http://insite.leeds.gov.uk/PublishingImages/Terms%20and%20conditions%20181x125.jpg">
          <h3>Flexi sheet</h3>
        </a>
      </li>
      <li class="">
        <a href="#"> <img src="http://insite.leeds.gov.uk/PublishingImages/Spending%20money%20wisely%20181x125.jpg">
          <h3>Whistleblowing form</h3>
        </a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>
 {% endblock %}


{% block sectionTwoTop %}
<hr class="ms-rteElement-spacer">
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}

 {% endblock %}

 {% block sectionTwoThirdCol2 %}

 {% endblock %}

{% block sectionTwoThirdCol3 %}

 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}

{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

 {% block reuserblecontent_footer %}
 {% endblock %}