{% extends "layout_multi_sections.html" %}

{% block page_title %}
Safeguarding Adults
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
Safeguarding Adults
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
{% endblock %}

{% block sectionOneFullBottom %}
<div class="contentLink promotion">
    <div class="listWebpart">
        <h2>
            
             Information for the public
            
        </h2>

                <ul>
            
                <li class="col-md-4">
                  <div>
                     <img src="http://www.leedssafeguardingadults.org.uk/PublishingImages/Promo/SafeguardingPromo.jpg" style="border-width:0px;">
                    <p><strong>Information for the public. </strong>Find out more about safeguarding adults and how to report abuse </p>
                    
                    <a href="http://www.leedssafeguardingadults.org.uk/Safeguarding/Pages/InformationForThePublic.aspx" class="btn">
        
                        Find out more</a>
                  </div>
                </li>
            
                <li class="col-md-4">
                  <div>
                    <img src="http://www.leedssafeguardingadults.org.uk/PublishingImages/Promo/AshPromo.jpg" alt="a man with a beard" style="border-width:0px;">
                    <p><strong>What is abuse?</strong> Abuse can take many forms, you can find out more about abuse and neglect here.</p>
                    <a href="http://www.leedssafeguardingadults.org.uk/Safeguarding/Pages/WhatIsAbuse.aspx" class="btn">
                      
                        Find out more</a>
                        </div>
                </li>
            
                <li class="col-md-4">
                  <div>
                    <img src="http://www.leedssafeguardingadults.org.uk/PublishingImages/Promo/LeafletsPromo.jpg" alt="A promotional leaflet for Safeguarding Adults Partnership Board" style="border-width:0px;">
                    <p><strong>Leaflets and posters - </strong>Information for you,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; people you know or your place of work</p>
                    <a class="btn" href="http://www.leedssafeguardingadults.org.uk/Safeguarding/Pages/SafeguardingLeaflets.aspx">
                      
                        Find out more</a>
                        </div>
                </li>
            
                </ul>
            
        <div class="clear"></div>
    </div>
</div>
<hr class="ms-rteElement-spacer" />
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
<div class="contentLink promotion">
    <div class="listWebpart">
        <h2>
            
            Information for professionals
            
        </h2>

                <ul>
            
                <li class="col-md-4">
                  <div>
          
                    
                    <a href="http://www.leedssafeguardingadults.org.uk/Safeguarding/Pages/InformationForThePublic.aspx" class="btn">
        
                         Multi-agency policies and procedures</a>
                  </div>
                </li>
            
                <li class="col-md-4">
                  <div>
                 
                    <a href="http://www.leedssafeguardingadults.org.uk/Safeguarding/Pages/WhatIsAbuse.aspx" class="btn">
                      
                         Multi agency safeguarding forms</a>
                        </div>
                </li>
            
                <li class="col-md-4">
                  <div>
                
                    <a class="btn" href="http://www.leedssafeguardingadults.org.uk/Safeguarding/Pages/SafeguardingLeaflets.aspx">
                      
                        Training courses for professionals</a>
                        </div>
                </li>
            
                </ul>
            
        <div class="clear"></div>
    </div>
</div>
<hr class="ms-rteElement-spacer" />
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/footer_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}